[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ojd-daps-skills = {ref = "dev", git = "git+https://github.com/nestauk/ojd_daps_skills.git"}
fastapi = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "uvicorn src.main:app --port 6376 --reload"
dev = "pipenv run start"
format = "black src"